@import $vars

.Field--Checkbox
  label.Field-el
    padding: 0
    border: none
    cursor: pointer
    line-height: 24px

  .Checkbox-label, .Checkbox-mark
    display: inline-block
    vertical-align: middle

  .Checkbox-mark
    position: relative
    margin-right: 8px

    &:after
      content: ''
      display: block

.Field--Checkbox:not(.Field--Checkbox--Switch)
  .Checkbox-mark
    width: 20px
    height: 20px
    border-radius: 3px
    background-color: $white
    border: 1px solid $gray

    &:after
      width: 7px
      height: 13px
      border: solid $white
      border-width: 0 2px 2px 0
      margin: 1px 0 0 6px
      opacity: 0
      transform: rotate(45deg)

  input:checked + .Checkbox-mark
    background-color: $gray

    &:after
      opacity: 1


.Field--Checkbox--Switch
  .Checkbox-mark
    width: 36px
    height: 16px
    border-radius: 20px
    background-color: #c5c5c5


    &:after
      position: absolute
      width: 20px
      height: 20px
      top: -2px
      left: -2px
      border-radius: 50%
      background-color: $white

  input:checked + .Checkbox-mark
    background-color: $gray

    &:after
      transform: translateX(100%)
