@import $vars

.Field--Checkbox
  label.Field-el
    padding: 0
    border: none
    cursor: pointer
    line-height: 24px

  .Checkbox-label, .Checkbox-mark
    display: inline-block
    vertical-align: middle

  .Checkbox-mark
    position: relative
    width: 20px
    height: 20px
    border-radius: 3px
    margin-right: 8px
    border: 1px solid $gray
    background-color: $white

    &:after
      content: ''
      display: block

.Field--Checkbox:not(.Field--Checkbox--Switch)
  .Checkbox-mark
    &:after
      width: 5px
      height: 11px
      border: solid $white
      border-width: 0 2px 2px 0
      margin: 1px 0 0 6px
      opacity: 0
      transform: rotate(45deg)

  input:checked + .Checkbox-mark
    background-color: $gray

    &:after
      opacity: 1


.Field--Checkbox--Switch
  .Checkbox-mark
    width: 40px
    border-radius: 20px
    border: 1px solid $gray

    &:after
      position: absolute
      width: 18px
      height: 18px
      top: -1px
      left: -1px
      border-radius: 50%
      background-color: $white
      border: 1px solid $gray

  input:checked + .Checkbox-mark
    background-color: $gray

    &:after
      transform: translateX(100%)
