@import $vars


.Popover
  position: relative

  .Popover-trigger
    cursor: pointer
    user-select: none
    display: inline-block

  &--show
    .SmartTipContent--Popover
      opacity: 1


.SmartTipContent--Popover
  padding: 12px 16px
  max-width: 280px
  line-height: 20px
  font-size: 13px

  margin-bottom: 8px
  bottom: 100%
  left: 50%
  transform: translate(-50%, 0)

  opacity: 0
  background-color: $white
  border-color: $white
  pointer-events: all
