@import $vars

.Dropdown
  position: relative
  font-size: inherit
  height: 34px
  line-height: 34px
  border-radius: 3px
  border: 1px solid $gray

  .Dropdown-trigger
    position: relative
    cursor: pointer
    z-index: 1
    padding: 0 24px 0 12px

    &::after
      content: ''
      position: absolute
      right: 8px
      top: 14px
      width: 0
      height: 0
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      border-top: 7px solid #ddd
      transform-origin: 5px 3px
      transition: 0.12s cubic-bezier(0.15, 0.86, 1, 1)
      will-change: transform

    // Add extra block to give more height to trigger after onMouseOver to avoid onMouseOut between trigger and body
    &::before
      content: ''
      position: absolute
      left: 0
      height: 12px
      width: 100%
      z-index: -1
      display: none

  &--show
    .Dropdown-trigger
      &::after
        transform: rotate(-180deg)

      &::before
        display: block


.DropdownBody
  position: relative
  border-radius: 3px


.DropdownOptions
  max-height: 320px
  overflow-y: auto

  > div
    display: block
    width: 100%
    line-height: 24px
    border: none

    &:not(:last-child)
      border-bottom: 1px solid $gray

  .DropdownItem
    padding: 4px 12px
    text-align: left
    outline: none


.SmartTipContent--Dropdown
  margin-top: 4px
  transform-origin: top center
  top: 100%
  left: 0
  min-width: 180px
  max-width: 360px
  z-index: 2
  background-color: $white

  &.SmartTipContent
    &::after, .arrow
      left: 24px
      z-index: -1
