@import $vars

.Dropdown
  position: relative
  font-size: 14px

  height: 32px
  line-height: 30px
  border: 1px solid black

  .Dropdown-trigger
    position: relative
    cursor: pointer
    z-index: 1
    padding: 0 12px

    // Add extra block to give more height to trigger after onMouseOver to avoid onMouseOut between trigger and body
    &::after
      content: ''
      position: absolute
      left: 0
      height: 12px
      width: 100%
      z-index: -1
      display: none

  &--show
    .Dropdown-trigger::after
      display: block

.DropdownBody
  position: fixed
  transform-origin: top center
  top: 100%
  left: 0
  margin-top: 4px
  min-width: 180px
  max-width: 360px
  border: 1px solid #ccc
  will-change: transform
  opacity: 0
  z-index: 2

  &::before, &::after
    content: ''
    position: absolute
    width: 0
    height: 0

  &::before
    top: -9px
    left: 20px
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 12px solid #ccc
    z-index: -1

  &::after
    top: -8px
    left: 24px
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-bottom: 8px solid #fff
    z-index: 1

.DropdownOptions
  max-height: 320px
  overflow-y: auto

  > div
    display: block
    width: 100%
    line-height: 24px
    background: $white
    border: none

    &:not(:last-child)
      border-bottom: 1px solid #dddddd

  .DropdownItem
    padding: 4px 12px
    text-align: left
    outline: none
