@import $vars


.Tag
  display: table
  padding: 8px 12px
  line-height: 12px
  border-radius: 3px
  font-size: 12px
  font-weight: bold
  color: $black
  background-color: $gray

  &--green
    color: $white
    background-color: darkgreen
