@import $vars

.Spinner
  position: relative
  height: 16px
  width: 16px
  vertical-align: middle
  display: none
  border-radius: 50%
  opacity: 0
  border: 2px solid $white
  border-top-color: transparent
  transition: 0.3s 0.05s
  animation: spin 0.8s infinite linear
  transform: none

  &--show
    display: inline-block
    opacity: 1


@keyframes spin
  100%
    transform: rotate(360deg)
