@import $vars

.ToastsContainer
  position: fixed
  top: 20px
  left: 50%
  transform: translateX(-50%)
  z-index: $highestZIndex

  > div
    &:not(:first-of-type)
      margin-top: 16px

.Toast
  position: relative
  width: 480px
  padding: 12px
  text-align: center
  background: $white
  color: $black

  &.Toast--hasCross
    padding-right: 32px

  .Toast-content
    line-height: 20px

  .Toast-cross
    position: absolute
    right: 6px
    top: 10px
    padding: 0 4px
    font-size: 20px
    cursor: pointer
