@import $vars

.Btn
  background: #fbfbfb
  color: #414141
  padding: 8px 20px
  line-height: 16px
  border-radius: 2px
  border: none
  outline: none
  transition: 0.15s
  transform-origin: center
  cursor: pointer
  font-size: 16px
  box-shadow: inset 0 -2px 0 rgba(34,45,57,.15)

  &:not(:disabled)
    &:hover
      background-color: #ececec

    &:active
      background-color: #dcdcdc

  &:disabled
    cursor: not-allowed !important
    opacity: 0.5

  &--link
    padding: 8px 0
    background-color: transparent
    box-shadow: none
    color: #000

    &:not(:disabled)
      &:hover
        background-color: inherit
        text-decoration: underline

      &:active
        background-color: inherit
        text-decoration: underline

  &--primary
    background-color: $c-primary
    color: $white

    &:not(:disabled)
      &:hover
        background-color: $c-primary-light

      &:active
        background-color: $c-primary-dark

  &--round
    border-radius: 24px


.Btn--AsyncBtn
  .Btn-pendingText
    transition: 0.3s 0.05s
    display: none
    opacity: 0

    & + .Spinner
      margin-left: 8px

  .Btn-mainText
    transition: 0.3s 0.05s

  &--isPending
    height: 34px

    .Btn-pendingText
      display: unset
      opacity: 1

    .Btn-mainText
      display: none
      opacity: 0
