@import $vars

.Btn
  position: relative
  padding: 8px 20px
  line-height: 16px
  color: $black
  border-radius: 2px
  font-size: inherit
  border: none
  outline: none
  transition: 0.15s
  transform-origin: center
  cursor: pointer

  > span
    display: inline-block
    margin-top: -.5em

    & + span
      margin-left: 4px

  &:disabled
    cursor: not-allowed !important
    opacity: 0.5

  &.Btn--link
    padding: 8px 0
    background-color: transparent
    box-shadow: none

    &:not(:disabled)
      &:hover
        background-color: inherit
        text-decoration: underline

      &:active
        background-color: inherit
        text-decoration: underline

.Btn--AsyncBtn
    transition: .2s width ease-in

  span
    top: 2px
    transition: .2s ease-in
