@import $vars

.ProgressBar
  position: relative
  width: 100%
  height: 6px
  overflow: hidden

.ProgressBar-progress
  height: 100%
  width: 0 // Default width
  transform-origin: center left
  background-color: $gray
