.FieldWrapper--Textarea
  display: block

.Field--Textarea
  .Field-el
    min-height: 34px
    line-height: 30px

  .Textarea-resizer
    width: 100%
    height: 34px
    line-height: 30px
    padding: 0 12px 0 8px // Extra 4px acts as lookahead to create new line
    overflow: hidden
    left: 6px
    visibility: hidden
    position: absolute
