@import $vars

$height = 20px

.FieldWrapper--RadioGroup
  display: block

.Field--RadioGroup
  .Field-el
    height: auto
    display: block
    padding: 0
    border: none
    line-height: initial

    label
      cursor: pointer

  .Field-el:not(:first-of-type)
    margin-top: 8px

  .Radio-label, .Radio-mark
    display: inline-block
    vertical-align: top

  .Radio-mark
    position: absolute
    width: 20px
    height: 20px
    border-radius: 50%
    border: 1px solid $gray
    text-align: center

    &::before
      content: ''
      position: relative
      display: block
      margin: 0 auto
      top: 5px
      width: 8px
      height: 8px
      border-radius: 50%
      opacity: 0

  .Radio-label
    padding-left: 28px
    line-height: $height

  input:checked + .Radio-mark
    background: $gray

    &::before
      background-color: $white
      opacity: 1
