@import '_vars.styl'

/***********************/
/* Sample stylesheet for defining project specific styles */
/***********************/

*
  box-sizing: border-box;
  font-family: Lato;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/*
* Override styles from base.css
* -- OR --
* You can also pass className to a Component and apply custom styles to .Component--className
*/

/***********************/
/* Btn override */
/***********************/

.Btn
  background-color: #fbfbfb

  &:not(.Btn--link)
    &:not(:disabled)
      &:hover
        background-color: #ececec

      &:active
        background-color: #dcdcdc

  &.Btn--round
    border-radius: 24px

  &.Btn--primary
    background-color: $c-primary
    color: $white

    &:not(:disabled)
      &:hover
        background-color: $c-primary-light

      &:active
        background-color: $c-primary-dark

/***********************/
/* Spinner override */
/***********************/

.Spinner
  border-color: $gray
  border-top-color: transparent

&--primary
  border-color: $c-primary
  border-top-color: transparent

/***********************/
/* Tag override */
/***********************/

.Tag
  background-color: #f3f3f3

  &--round
    border-radius: 24px


/***********************/
/* Card override */
/***********************/

.Card
  &--round
    border-radius: 24px



/***********************/
/* RipplePointer override */
/***********************/

.RipplePointer
  &--primary
    &::after, &::before
      background-color: $c-primary

    .RipplePointer-epicenter::after
      background-color: $c-primary


/***********************/
/* HelpText override */
/***********************/

.HelpText
  color: $gray


/***********************/
/* Tooltip override */
/***********************/

.Tooltip
  .Tooltip-trigger
    &:hover
      & + .SmartTipContent--Tooltip
        transform: translate(-50%, 0)

.SmartTipContent--Tooltip
  transform: translate(-50%, 6px) scale(0.9)


/***********************/
/* Popover override */
/***********************/


.SmartTipContent--Popover
  will-change: transform
  transform-origin: center bottom
  transform: translate(-50%, 6px) scale(.9)
  animation: .12s moveUp-1 cubic-bezier(0.12, 0.95, 1, 1) forwards


@keyframes moveUp-1
  0%
    opacity: 0
    transform: translate(-50%, 6px) scale(.9)

  100%
    opacity: 1
    transform: translate(-50%, 0)

/***********************/
/* SmartTipContent override */
/***********************/


.SmartTipContent--Custom
  padding: 12px
  animation: 3s moveUp-2 cubic-bezier(0.12, 0.95, 1, 1) infinite


@keyframes moveUp-2
  0%
    opacity: 0
    transform: translate(-50%, 0) scale(.7)

  4%
    opacity: 0
    transform: translate(-50%, 0) scale(.7)

  20%
    opacity: 1
    transform: translate(-50%, -6px)

  100%
    opacity: 1
    transform: translate(-50%, -6px)


/***********************/
/* Notification override */
/***********************/

.Notification
  transform: translateX(-30%)
  animation: .18s fadeInSlideRightAppear cubic-bezier(0.12, 0.95, 1, 1) forwards
  transition: 0.15s

@keyframes fadeInSlideRightAppear
  0%
    opacity: 0.5

  100%
    opacity: 1
    transform: translateX(0)


/***********************/
/* Toast override */
/***********************/

.Toast
  transform: translateY(-50%)
  animation: .18s fadeInDownAppear cubic-bezier(0.12, 0.95, 1, 1) forwards
  transition: 0.15s

@keyframes fadeInDownAppear
  0%
    opacity: 0

  100%
    opacity: 1
    transform: translateY(0)
