@import '_vars.styl'

/***********************/
/* Sample stylesheet for defining project specific styles */
/***********************/

*
  box-sizing: border-box;
  font-family: Lato;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


/* Override styles from base.css */

/***********************/
/* Btn override */
/***********************/

.Btn
  background-color: #fbfbfb

  &:not(.Btn--link)
    &:not(:disabled)
      &:hover
        background-color: #ececec

      &:active
        background-color: #dcdcdc

  &.Btn--round
    border-radius: 24px

  &.Btn--primary
    background-color: $c-primary
    color: $white

    &:not(:disabled)
      &:hover
        background-color: $c-primary-light

      &:active
        background-color: $c-primary-dark

/***********************/
/* Spinner override */
/***********************/

.Spinner
  &--primary
    border-color: $c-primary
    border-top-color: transparent

/***********************/
/* Tag override */
/***********************/

.Tag
  background-color: #f3f3f3

  &--round
    border-radius: 24px


/***********************/
/* Card override */
/***********************/

.Card
  &--round
    border-radius: 24px
