@import '_animations.styl';
@import '_vars.styl';

/***********************/
/* General */
/***********************/

.ui-hasShadow
  box-shadow: 0 2px 4px rgba(0,0,0,0.15)

.ui-block
  width: 100%


/***********************/
/* BG colors */
/***********************/

.ui-bg-white
  background-color: $white

/***********************/
/* Text colors */
/***********************/

.ui-txt-white
  color: $white


/***********************/
/* Font sizes */
/***********************/

.ui-size-lg
  font-size: 18px

.ui-size-md
  font-size: 14px

.ui-size-sm
  font-size: 11px


/***********************/
/* Animations */
/***********************/

.ui-fadeInUpAppear
  animation: fadeInUpAppear .24s cubic-bezier(0, 0, 0.22, 0.95) forwards
