@import '_animations.styl';
@import '_vars.styl';

/***********************/
/* General */
/***********************/

.ui-hasShadow
  box-shadow: 0 2px 4px rgba(0,0,0,0.15)

.ui-block
  width: 100%


/***********************/
/* BG colors */
/***********************/

.ui-bg-white
  background-color: $white
  border-color: $white

.ui-bg-red
  background-color: $red
  border-color: $red

.ui-bg-green
  background-color: $green
  border-color: $green

.ui-bg-blue
  background-color: $blue
  border-color: $blue

.ui-bg-yellow
  background-color: $yellow
  border-color: $yellow

.ui-bg-black
  background-color: $black
  border-color: $black


/***********************/
/* Text colors */
/***********************/

.ui-txt-white
  color: $white

  svg
    fill: $white


/***********************/
/* Font sizes */
/***********************/

.ui-size-lg
  font-size: 18px

.ui-size-md
  font-size: 14px

.ui-size-sm
  font-size: 11px


/***********************/
/* SVG sizes */
/***********************/

.ui-svg-size-sm svg
  width: 14px

.ui-svg-size-md svg
  width: 16px

.ui-svg-size-lg svg
  width: 20px

/***********************/
/* Animations */
/***********************/

.ui-fadeInUpAppear
  animation: fadeInUpAppear .24s cubic-bezier(0.18, 0.92, 1, 1) forwards
