@import $vars

.Card
  background-color: $white
  border-radius: 8px
  padding: 20px

  &--shadow
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1)

  &--animate
    animation: fadeInUpAppear .24s cubic-bezier(0, 0, 0.22, 0.95) forwards


@keyframes fadeInUpAppear
  0%
    opacity: 0
    transform: translate(-50%,3px)

  100%
    opacity: 1
    transform: translate(-50%,0)
