@import $vars

.FieldWrapper
  position: relative

  .Field-label
    font-size: inherit
    margin-bottom: 8px

    .Field-label-star
      color: $red
      margin-left: 2px

  .Field-content
    width: 200px
    font-size: inherit

  .Field-description
    margin-top: 8px
    display: block

  .Field-error
    margin-top: 8px
    display: none

  &.FieldWrapper--disabled
    display: block

  &.FieldWrapper--focused
    .Field-el
      border-color: $blue

  &.FieldWrapper--invalid
    display: block
    .Field-el
      border-color: $red

    .Field-error
      display: block

.FieldWrapper.FieldWrapper--disabled .Field-label,
.Field.Field--disabled .Field-el
  cursor: not-allowed
  opacity: 0.4

.Field
  position: relative
  display: block
  line-height: 34px

  .Field-el
    width: 100%
    height: 34px
    padding: 0 8px
    vertical-align: top
    line-height: inherit
    font-size: inherit
    border-radius: 2px
    border: 1px solid $gray
    outline: none
