@import $vars

//https://www.youtube.com/watch?v=f3LER1fVm-8

.NotificationsContainer
  position: fixed
  bottom: 36px
  left: 40px
  z-index: $highestZIndex

  > div
    &:not(:last-of-type)
      margin-bottom: 16px

.Notification
  position: relative
  width: 480px
  padding: 12px
  border-radius: 3px
  background: $white
  color: $black

  &.Notification--hasCross
    padding-right: 32px

  .Notification-content
    line-height: 20px

  .Notification-cross
    position: absolute
    right: 6px
    top: 10px
    padding: 0 4px
    font-size: 20px
    cursor: pointer
