@import $vars

.BackDrop
  position: relative

  .BackDrop-content
    position: relative
    transition: 0.1s all cubic-bezier(0.24, 0.94, 1, 1)

  &--show
    z-index: ($highestZIndex - 1) // For tooltips to appear above BackDrop

    .BackDrop-content
      box-shadow: 0 0 0 9999px rgba(0,0,0,0.8);

.scroll-fix
  overflow: hidden
