/***********************/
/* Sample stylesheet for defining project specific styles */
/***********************/

*
  box-sizing: border-box;
  font-family: Lato;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


/***********************/
/* Override styles from base.css */
/***********************/

.Tag
  background-color: #f3f3f3

  &--round
    border-radius: 24px


.Card
  &--round
    border-radius: 24px
