@import $vars


.Banner
  width: 100%
  padding: 8px 12px
  position: relative
  border-radius: 3px
  border: 1px solid black
  background-color: white
  color: black

  &--green
    border: 1px solid #439c53
    background-color: #d4ffdc
    color: green

  &--red
    border: 1px solid #9e3342
    background-color: #ffd4da
    color: red

  &--yellow
    border: 1px solid #ceb65b
    background-color: #fff6d4
