@import $vars


.Banner
  position: relative
  width: 100%
  padding: 12px
  line-height: 20px
  border-radius: 3px
  background-color: $white
  color: $black

  > span
    display: table-cell
    vertical-align: top

  > *:not(:first-child)
    padding-left: 8px
